@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lato:wght@400&family=Poppins:wght@600&display=swap');

.card {
    display: none;
    flex-direction: column;
    height: auto;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.card--active {
    display: flex;
}

.card:hover {
    transform: scale(1.05);
}

.card__information {
    display: block;
}

.card__image {
    width: 250px;
    height: 146px;
}

.card__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px 0 10px;
}

.card__description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 10px 10px 5px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    display: none;
}

.card__price {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin: 10px 10px 0 10px;
    font-family: 'Lato', sans-serif;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 20px 10px;
    gap: 10px;
    align-items: center;
}

.card__footer-button {
    border: none;
    background-color: #f1f1f1;
    padding: 7px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.card__footer-button:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.card__footer-like {
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.card__footer-like:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.heart-icon {
    fill: #f1f1f1;
    stroke: black;
    stroke-width: 2;
}

.card__footer-like:hover .heart-icon {
    fill: red;
    stroke: red;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease-out;
}

.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out;
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    .card__information {
        display: grid;
        grid-template-columns: auto min-content;
    }

    .card {
        width: 350px;
    }

    .card__image {
        width: 350px;
        height: 205px;
    }

    .card__title {
        font-size: 24px;
        margin: 20px 10px 0 20px;
    }
    
    .card__description {
        margin: 10px 20px 5px 20px;
        display: flex;
    }
    
    .card__price {
        text-align: right;
        margin: 20px 20px 0 10px;
    }
    
    .card__footer {
        margin: 10px 20px 20px 20px;
    }
    
    .card__footer-button {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {

}