.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__prev-icon:hover, .carousel__next-icon:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .carousel {
        gap: 60px;
    }
}