.carousel {
    width: 290px;
}

@media (max-width: 767px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .carousel {
        width: 725px;
    }
}

@media (min-width: 1024px) {
    .carousel {
        width: 950px;
    }
}

@media (min-width: 1440px) {
    .carousel {
        width: 1360px;
    }
}