.imagenlogo{
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.conteinergeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    height: 100%;
    width: 100%;
}
.texto{
    width: 70%;
}
.conteiner p{
    font-size: 2.4rem;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.conteiner h2{
    color: var(--dark-black);
    font-size: 4.8rem;
    text-align: center;
}
.title--page{
    font-family: 'Montserrat';
    color: var(--black);
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.conteiner{
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 15px;
}

.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px;
}

.entradas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grupocontacto {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 100%;
    
}
.mensaje{
    text-align: left;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#mensaje{
    resize: none;
}
label {
    font-size: 2.4rem;
    line-height: 40px;
    color: var(--dark-black);
}

.botonescontacto{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.botoncontacto{
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 2.4rem;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botonreseteo{
    color: var(--dark-black);
    font-size: 2.4rem;
    border-radius: 10px;
    border-color: var(--dark-black);
    border: 1px solid;

    cursor: pointer;
    transition: background-color 0.3s ease;
}