.find__map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.find__map {
    height: 600px;
    width: 100%;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 500!important;
}

.leaflet-popup-content {
    font-family: 'Lato', sans-serif!important;
    font-size: 10px!important;
    color: var(--black)!important;
}

.find__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.find__description {
    font-family: 'Lato', sans-serif;
    font-size: var(--text);
    color: var(--color-text);
}