.information-container {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.information-section {
    background-color: var(--color-conteiner);
}

.information-section--menu {
    border-radius: 0 25px 25px 0;
    width: auto;
    max-width: 400px;
    height: 100%;
}

.information-section--content {
    background-color: transparent;
    flex: 1;
    min-width: 700px;
    width: auto;
    height: auto;
    border-radius: 25px;
    margin-right: 20px;
}

.information-section__header {
    background-color: var(--color-conteiner);
    padding: 25px 0;
    border-radius: 25px;
}

.information-section__title {
    margin: 25px 0;
    font-size: var(--title);
    color: var(--color-text);
}

.information-section__title--no-margin {
    margin: 0;
}

.information-section__content {
    display: flex;
    width: 100%;
    background-color: var(--color-conteiner);
    border-radius: 25px;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}

.information-section__content--flex-column {
    display: flex;
    flex-direction: column;
}

.information-menu {
    display: flex;
    flex-direction: column;
}

.information-menu__item {
    display: flex;
    flex-direction: column;
}

.information-menu__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.information-menu__button:hover {
    cursor: pointer;
    background-color: var(--dark-gray);
}

.information-menu__button:hover .information-menu__title {
    color: var(--black);
}

.information-menu__button:hover .information-item-icon {
    fill: var(--black);
}

.information-menu__title {
    font-size: var(--subtitle);
    color: var(--color-text);
    margin: 20px;
}

.information-menu__arrow {
    height: 24px;
    width: 24px;
    background-color: transparent;
    margin-right: 20px;
}

.information-menu__options {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.2s ease;
    opacity: 0;
}

.information-menu__options--active {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease 0.1s;
}

.information-menu__option {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.information-menu__option:hover {
    cursor: pointer;
    background-color: var(--dark-gray);
}

.information-menu__option:hover .information-option__title,
.information-menu__option:hover .information-option__description {
    color: var(--black);
}

.information-menu__option:hover .information-stroke-icon {
    stroke: var(--black);
}

.information-menu__option--selected {
    background-color: var(--dark-gray);
}

.information-menu__option--selected .information-option__title,
.information-menu__option--selected .information-option__description {
    color: var(--black);
}

.information-menu__option--selected .information-stroke-icon {
    stroke: var(--black);
}

.information-option__icon {
    margin-left: 20px;
}

.information-option__title {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--text);
    color: var(--color-text);
    margin: 20px 20px 0 20px;
}

.information-option__description {
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    color: var(--color-text);
    margin: 0 20px 20px 20px;
}

.information-item-icon {
    fill: var(--color-text);
}

.information-stroke-icon {
    stroke: var(--color-text);
}

.information-icon {
    height: 32px;
    width: 32px;
}

.information-menu__arrow svg {
    transition: transform 0.3s ease;
}

/* Mensajes enviados */
.information-section__content--hover:hover {
    cursor: pointer;
    background-color: var(--dark-gray);
}

.information-section__content--hover:hover .information-message__text {
    color: var(--black);
}

.information-message {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information-message--separator {
    border-top: 2px solid var(--color-text);
    margin-top: 30px;
    padding-top: 30px;
}

.information-message__title {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--text);
    color: var(--color-text);
    margin: 0 auto;
}

.information-message__text {
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    color: var(--color-text);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.information-message__text--unlimited {
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    color: var(--color-text);
    margin: 0;
    overflow: unset;
    text-overflow: unset;
    display: -webkit-box;
    line-clamp: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: vertical;
}

.information-message__status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: var(--white);
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    height: 45px;
    width: 120px;
}

.information-message__status--green {
    background-color: var(--success);
}

.information-message__status--orange {
    background-color: var(--primary-color);
}

.information-message__response {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.information-message__textarea {
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    outline: none;
    color: var(--color-text);
    background-color: transparent;
}

.information-message__button-container {
    display: flex;
    gap: 10px;
}

.information-message__button {
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-small);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white);
}

.information-message__button--send {
    flex: 1;
    width: 100%;
}

.information-message__button--send:hover {
    background-color: var(--primary-hover);
}

.information-message__button--delete {
    width: auto;
    border: 1px solid var(--black);
    padding: 12px 20px;
    background-color: var(--white);
    color: var(--dark-black);
}

.information-message__button--delete:hover {
    background-color: var(--gray);
}

/* Informacion de mi cuenta */
.information-form {
    margin: 0 auto;
    min-width: 500px;
    width: 50%;
}

.information-form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.information-form__label {
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    color: var(--color-text);
    margin-bottom: 10px;
}

.information-form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-size: var(--text-small);
    outline: none;
    color: var(--color-text);
    background-color: transparent;
}

.information-form__error {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: var(--error);
    visibility: hidden;
}

.information-form__error--active {
    visibility: visible;
}

.information-form__button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-form__button {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-small);
    cursor: pointer;
}

.information-form__button--orange {
    background-color: var(--primary-color);
    color: var(--white);
}

.information-form__button--orange:hover {
    background-color: var(--primary-hover);
}

.information-form__button--white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--color-text);
}

.information-form__button--white:hover {
    background-color: var(--gray);
}

.information-fill-icon {
    fill: var(--color-text);
}