@import url(header.css);
@import url(footer.css);
@import url(navbar.css);
@import url(sidebar.css);
@import url(carousel.css);
@import url(card.css);
@import url(product.css);
@import url(filter.css);
@import url(category.css);

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 115px 0 0 0;
    background-color: var(--white-background-color);
    height: 100vh;
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 40px 0;
    text-align: center;
}
h3 {
    text-align: left;
}
@media (min-width: 1024px) {
    body {
        padding-top: 145px;
    }
}

.test {
    margin-top: 0px;
}

.flex-container {
    display: flex;
}