h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 40px 0;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.carousel--prev:hover, .carousel--next:hover {
    cursor: pointer;
}

.card {
    display: none;
    flex-direction: column;
    height: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.card__active {
    display: flex;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card--image {
    width: 400px;
    height: 234px;
}

.card--title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 20px 0 20px;
}

.card--description {
    font-size: 16px;
    margin: 10px 20px 20px 20px;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease-out;
}

.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out;
}