@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lato:wght@400&family=Poppins:wght@600&display=swap');

.categories {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s;
}

.category:hover {
    transform: scale(1.05);
}

.category img {
    width: 260px;
    height: max-content;
}

.category--cafe-caliente {
    background: linear-gradient(to bottom, #D5BFA3, #F7F3ED);
}

.category--cafe-frio {
    background: linear-gradient(to bottom, #96D3DB, #F0FAFB);
}

.category--frapuccino {
    background: linear-gradient(to bottom, #A5E1C9, #ECF8F9);
}

.category--postre {
    background: linear-gradient(to bottom, #F9D1D2, #FEF4F5);
}

.category__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category__information {
    padding: 15px;
}

.information__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

.information__description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.information__button {
    font-family: 'Poppins', sans-serif;
    color: black;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.category--cafe-caliente .information__button {
    background-color: #D5BFA3;
}

.category--cafe-caliente .information__button:hover {
    background-color: #B08E5E;
    color: #FFFFFF;
}

.category--cafe-frio .information__button {
    background-color: #96D3DB;
}

.category--cafe-frio .information__button:hover {
    background-color: #6BA4B4; 
    color: #FFFFFF;
}

.category--frapuccino .information__button {
    background-color: #A5E1C9;
}

.category--frapuccino .information__button:hover {
    background-color: #8CC6A1; 
    color: #FFFFFF;
}

.category--postre .information__button {
    background-color: #F9D1D2;
}

.category--postre .information__button:hover {
    background-color: #F1A7A8; 
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .categories {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-content: center;
        margin: 0 50%;
    }
}

@media (min-width: 1024px) {
    .categories {
        gap: 80px;
    }
}

@media (min-width: 1440px) {
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        margin: 0 40px;
    }
}