.navbar {
    position: fixed;
    font-family: 'Gliker', sans-serif;
    display: block;
    justify-content: space-between;
    background-color: rgba(44, 44, 44, 0.4);
    height: auto;
    margin-bottom: 15px;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

.navbar__logo {
    display: flex;
    height: 100px;
    margin: 15px auto 0 auto;
}

.hamburguer-menu-icon {
    height: 50px;
    cursor: pointer;
}

.hamburguer-menu-icon:hover {
    background-color: #4A4A4A;
    border-radius: 5px;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

.increase-height {
    animation: heightIncrease 0.3s forwards;
}

.decrease-height {
    animation: heightDecrease 0.3s forwards;
}

.navbar__link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;

    display: none;
}

.navbar__link--active {
    display: flex;
}

.navbar__link:hover {
    color: white;
    background-color: #4A4A4A;
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
}

.navbar__button {
    font-family: 'Gliker', sans-serif;
    background-color: #ff5100;
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    display: none;
}

.navbar__button--active {
    display: flex;
}

.navbar__button:hover {
    background-color: #E0A63A;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .navbar {
        position: fixed;
        font-family: 'Gliker', sans-serif;
        display: flex;
        justify-content: space-between;
        background-color: rgba(44, 44, 44, 0.4);
        height: 130px;
        width: 100%;
        z-index: 1000;
    }

    .navbar__logo {
        width: auto;
        height: 100px;
        margin-left: 20px;
        margin-top: 15px;
    }

    .navbar__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        gap: 15px;
    }

    .navbar__link {
        display: flex;
    }

    .navbar__button {
        display: flex;
    }

    .hamburguer-menu-icon {
        display: none;
    }
}

@keyframes heightIncrease {
    from {
        height: 180px;
    }

    to {
        height: 424px;
    }
}

@keyframes heightDecrease {
    from {
        height: 424px;
    }

    to {
        height: 180px;
    }
}